<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>App-bar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-label>Title Layout</ion-label>
    <ion-select [(ngModel)]="titleLayout" [interfaceOptions]="customTitleLayoutOptions" interface="popover">
      <ion-select-option value="hide">Hide Title</ion-select-option>
      <ion-select-option value="show">Show Title</ion-select-option>
      <ion-select-option value="active-only">Show Title for active only</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>Floating Action Bottom Position</ion-label>
    <ion-select [(ngModel)]="position" [interfaceOptions]="customFabPositionOptions" interface="popover">
      <ion-select-option value="center">Center</ion-select-option>
      <ion-select-option value="right">Right</ion-select-option>
      <ion-select-option value="left">Left</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>Fab Visible</ion-label>
    <ion-checkbox [(ngModel)]="fabVisible" slot="end"></ion-checkbox>
  </ion-item>



</ion-content>

<ion-footer>
  <ion-tabs #tabs>
    <fiv-app-bar slot="bottom" [titleMode]="titleMode" #bar>
      <fiv-fab [fivAppBarFab]="position" #fab>
        <fiv-icon #iconFeature="fivFeature" [fivFeature]="feature" name="color-wand"></fiv-icon>
      </fiv-fab>

      <fiv-app-bar-tab left tab="tab1" href="/tab1">
        <fiv-icon name="md-home"></fiv-icon>
        <ion-label>Home</ion-label>
      </fiv-app-bar-tab>
      <fiv-app-bar-tab left tab="tab2" href="/tab2">
        <fiv-icon smallIcon="add" #tabFeature="fivFeature" [fivFeature]="feature" name="md-pizza"></fiv-icon>
        <ion-label>Images</ion-label>
      </fiv-app-bar-tab>
      <fiv-app-bar-tab right tab="tab3" href="/tab3">
        <fiv-icon badge="1" name="md-pizza"></fiv-icon>
        <ion-label>Pizza</ion-label>
      </fiv-app-bar-tab>
      <fiv-app-bar-tab right tab="tab4" href="/tab4" icon="md-more">
        <fiv-icon dot="false" name="md-pizza"></fiv-icon>
        <ion-label>More</ion-label>
      </fiv-app-bar-tab>
    </fiv-app-bar>
  </ion-tabs>
</ion-footer>